@model modpackFront.ViewModels.ResetPasswordViewModel

@{
    var configuration = (IConfiguration)Context.RequestServices.GetService(typeof(IConfiguration));
    var buildUrl = configuration.GetSection("BackUrl").Value;
}

<body>

    <section style="padding: 5rem 0; text-align: center; background-image: url('@buildUrl/images/product/pexels-stephan-seeber-1054218.jpg'); background-size: cover; background-position: center; color: white;">
        <div style="max-width: 960px; margin: auto;">
            <div style="display: flex; align-items: center; justify-content: center; min-height: 100vh;">
                <div style="max-width: 700px;">
                    <form asp-action="ResetPassword" method="post">
                        <input type="hidden" asp-for="@Model.Token" value="@Model.Token"/>
                        <div class="form-group col-12">
                            <label asp-for="@Model.NewPassword">新密碼</label>
                            <input asp-for="@Model.NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 mt-1">
                            <label asp-for="@Model.ConfirmPassword">確認新密碼</label>
                            <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="col-12 mt-2">
                        <button type="submit" class="btn btn-primary">重設密碼</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


</body>
